@font-face {
    font-family: "PressStart2P";
    src: local("PressStart2P"),
    url("./fonts/PressStart2P-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: 'PressStart2P', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

h1{
    font-size: 30pt;
}

h2 {
    font-size: 14pt;
}

h3 {
    font-size: 10pt;
}